# Python cache
__pycache__/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
.env

# IDE
.idea/
.vscode/

# Raw Data
raw_data/

# --- Spark / Hadoop / Logs ---
logs/
*.log
spark-warehouse/
metastore_db/
derby.log
eventLogDir/
.sparkStaging/
result.csv/

# --- Docker overrides ---
docker-compose.override.yml

# --- Data ---
data/